<aside class="sidebar">
    <div class="sidebar-inner">
        <div class="me">
            <div class="avatar"></div>
            <div class="info">
                <strong>Kho hàng – CN Hà Đông</strong>
                <span class="role">Chủ cửa hàng</span>
            </div>
        </div>
        <nav class="menu">
            <a class="item @Html.IsActive("Home","Index")" href="@Url.Action("Index", "Home")"><span class="icon"></span><span class="text">Dashboard</span></a>
            <a class="item" href="#"><span class="icon"></span><span class="text">Đơn hàng</span></a>
            <a class="item @Html.IsActive("Services","Index")" href="@Url.Action("Index", "Services")"><span class="icon"></span><span class="text">Dịch vụ</span></a>
            <a class="item" href="#"><span class="icon"></span><span class="text">Bảng giá</span></a>
            <a class="item" href="#"><span class="icon"></span><span class="text">Báo giá</span></a>
            <a class="item" href="#"><span class="icon"></span><span class="text">Hợp đồng</span></a>
            <a class="item @Html.IsActive("Warehouse", "Index")" href="@Url.Action("Index", "Warehouse")"><span class="icon"></span><span class="text">Kho & Slot</span></a>
            <a class="item" href="#"><span class="icon"></span><span class="text">Thanh toán</span></a>
            <a class="item" href="#"><span class="icon"></span><span class="text">Khách hàng</span></a>
            <a class="item" href="#"><span class="icon"></span><span class="text">Feedback</span></a>
            <a class="item" href="#"><span class="icon"></span><span class="text">Cài đặt</span></a>
        </nav>
    </div>
</aside>